body {
    background-color: #333644;
}

.draw {
    background-color: #c65f63;
    color: #fbf9fa;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.grad {
    background-color: #f6e1b8;
    color: #333644;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.graph {
    margin-top: 2%;
    margin-right: 2%;
    flex: 3;
    background-color: white;
    height: 80vh;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 8px;
    overflow: scroll;
}
textarea {
    resize: none;
    border-radius: 8px;
}

.whole_area {
    display: flex;
}

.code_area {
    flex: 1;
    margin-left: 1%;
}

li {
    margin-bottom: 8px;
}
