body {
    background-color: #212121;
    font-family: Verdana, sans-serif;
    overflow: none;
}

.draw {
    background-color: #353634;
    color: #fbf9fa;
    padding: 10px;
    border: 3px solid #787878;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.draw:hover {
    background-color: #787878;
}

.grad {
    background-color: #7a604b;
    color: #ececec;
    padding: 10px;
    border: 3px solid #d0a380;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.grad:hover {
    background-color: #d0a380;
}

.graph {
    padding: 10px;
    margin-top: 2%;
    margin-right: 2%;
    background-color: white;
    max-width: 950px;
    height: 50vh;
    border: 2px solid #787878;
    border-radius: 8px;
    overflow: scroll;
    scrollbar-color: #c65f63 #c65f63;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation {
    flex: 3;
}

textarea {
    background-color: #2f2f2f;
    color: #ececec;
    outline: none;
    resize: none;
    border: 1px white;
    border-radius: 4px;
    line-height: 25px;
}

.whole_area {
    display: flex;
}

.code_area {
    flex: 1;
    margin-left: 1%;
}

p {
    color: #e2c541;
}
