body {
    background-color: #363434;
    font-family: Verdana, sans-serif;
    overflow: none;
}

.draw {
    background-color: #62929a;
    color: #fbf9fa;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.draw:hover {
    background-color: #4a6f76;
}

.grad {
    background-color: #ed733f;
    color: #333644;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.grad:hover {
    background-color: #b6582f;
}

.graph {
    padding: 10px;
    margin-top: 2%;
    margin-right: 2%;
    background-color: white;
    max-width: 950px;
    height: 50vh;
    border: 2px solid #62929a;
    border-radius: 8px;
    overflow: scroll;
    scrollbar-color: #c65f63 #c65f63;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation {
    flex: 3;
}

textarea {
    color: #333644;
    outline: none;
    resize: none;
    border: 1px white;
    border-radius: 4px;
    line-height: 25px;
}

.whole_area {
    display: flex;
}

.code_area {
    flex: 1;
    margin-left: 1%;
}

p {
    color: #f6e1b8;
}
